<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
  
  {{> ../partials/includes/header.hbs }}

  <main id="page-content">
    <header class="page-header" data-background="images/bg-page-header-default.jpg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <p class="heading">Book your Radio Rates</p>
          </div>
        </div>
      </div>
    </header>
    <div class="content-space no-padding">
      <!-- content -->
        <form id="app-booking-form">
          <div class="step" data-step="1" v-show="currentStep >= 1" style="display:none;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <h2 class="h1"><span class="icon">1</span> Select your State</h2>
                  <div class="form-group">
                    <select class="form-control" name="state" v-model="selectedState" v-on:change="updateState">
                      <option value="" v-if="states.length > 1 || states.length === 0">-- select --</option>
                      <option v-bind:value="state" v-for="state of states" v-text="state"></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="step" data-step="2" v-show="currentStep >= 2" style="display:none;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <h2 class="h1"><span class="icon">2</span> Select the Market you want to Advertise in</h2>
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="booking-form-region" class="label">Region</label>
                      <select name="region" id="booking-form-region" class="form-control" v-model="selectedRegion" v-on:change="updateRegion">
                        <option value="" v-if="regions.length > 1 || regions.length === 0">-- select --</option>
                        <option v-bind:value="region" v-for="region of regions" v-text="region"></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="booking-form-town" class="label">Town</label>
                      <select name="town" id="booking-form-town" class="form-control" v-model="selectedTown" v-on:change="updateTown">
                        <option value="" v-if="towns.length > 1 || towns.length === 0">-- select --</option>
                        <option v-bind:value="town" v-for="town of towns" v-text="town"></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="booking-form-radio-station" class="label">Radio Station</label>
                      <select name="radio_station" id="booking-form-radio-station" class="form-control" v-model="selectedRadioStationId" v-on:change="updateRadioStation">
                        <option value="" v-if="radioStations.length > 1 || radioStations.length === 0">-- select --</option>
                        <option v-bind:value="radioStation[0]" v-for="radioStation of radioStations" v-text="radioStation[1]"></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="booking-form-time-slot" class="label">Time Slot</label>
                      <select name="time_slot" id="booking-form-time-slot" class="form-control" v-model="selectedTimeSlot">
                        {{!-- <option value="">-- select --</option> --}}
                        <option value="Session Times">Session Times</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="booking-form-ad-type" class="label">Ad Type</label>
                      <select name="ad_type" id="booking-form-ad-type" class="form-control" v-model="selectedAdType">
                        {{!-- <option value="">-- select --</option> --}}
                        <option value="Recorded">Recorded</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="step" data-step="3" v-show="currentStep >= 3" style="display:none;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <h2 class="h1"><span class="icon">3</span> Select your Session Times</h2>

                  <div v-if="sessionTimes" class="audience-stats">
                    <h3 class="title" v-text="sessionTimes.station + (sessionTimes.region ? ', ' + sessionTimes.region : '') + (sessionTimes.state &&  !sessionTimes.region.match(sessionTimes.state)? ' ' + sessionTimes.state : '')"></h3>
                    <ul>
                      <li data-stats="audience">
                        <div class="item">
                          <div class="entry">
                            <span class="title">Audience</span>
                            <span class="value" v-text="sessionTimes.audience"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="people-10-17">
                        <div class="item">
                          <div class="entry">
                            <span class="title">People 10-17</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_mon_to_sun_people_10_17"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="people-18-24">
                        <div class="item">
                          <div class="entry">
                            <span class="title">People 18-24</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_mon_to_sun_people_18_24"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="people-25-39">
                        <div class="item">
                          <div class="entry">
                            <span class="title">People 25-39</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_mon_to_sun_people_25_39"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="people-40-54">
                        <div class="item">
                          <div class="entry">
                            <span class="title">People 40-54</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_mon_to_sun_people_40_54"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="breakfast">
                        <div class="item">
                          <div class="entry">
                            <span class="title">Breakfast</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_mon_to_fri_breakfast + '%'"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="morning">
                        <div class="item">
                          <div class="entry">
                            <span class="title">Morning</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_mon_to_fri_morning + '%'"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="afternoon">
                        <div class="item">
                          <div class="entry">
                            <span class="title">Afternoon</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_mon_to_fri_afternoons + '%'"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="drive">
                        <div class="item">
                          <div class="entry">
                            <span class="title">Drive</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_mon_to_fri_drive + '%'"></span>
                          </div>
                        </div>
                      </li>
                      <li data-stats="weekend">
                        <div class="item">
                          <div class="entry">
                            <span class="title">Weekends</span>
                            <span class="value" v-text="sessionTimes.share_audience_percent_sat_to_sun_weekends + '%'"></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="session-time">
                    
                    <table class="recorded-advertising-table table" v-if="currentRecordedAdvertisingItem && currentRecordedAdvertisingItem.sessions">
                      <caption>
                        <h3>Recorded Advertising</h3>
                      </caption>
                      <thead>
                        <tr>
                          <th data-column="session">Session</th>
                          <th data-column="day">
                            <span>Mon</span>
                            <span>Tue</span>
                            <span>Wed</span>
                            <span>Thur</span>
                            <span>Fri</span>
                            <span>Sat</span>
                            <span>Sun</span>
                          </th>
                          <th data-column="active-weeks">Active Weeks</th>
                          <th data-column="week-commencing">Week Commencing</th>
                          <th data-column="estimate">Estimate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(obj, key) in currentRecordedAdvertisingItem.sessions">
                          <td data-column="session">
                            <div class="session-wrapper">
                              <strong v-text="obj.sessionInfo.title"></strong>
                              <span v-text="obj.sessionInfo.timeSlot"></span>
                            </div>
                          </td>
                          <td data-column="day">
                            <div class="days-wrapper">
                              <span class="number-wrapper" v-bind:data-label="abbreviateDay(dayKey)" v-for="(day, dayKey) in obj.week">
                                <input type="number" min="0" class="form-control" v-model="day.qty">
                              </span>
                            </div>
                          </td>
                          <td data-column="active-weeks">
                            <div class="active-weeks-wrapper">
                              <input type="number" class="form-control" v-model="obj.activeWeeks">
                            </div>
                          </td>
                          <td data-column="week-commencing">
                            <div class="week-commencing">
                              <select class="form-control" v-model="obj.weekCommencing">
                                <option value="">Select a date</option>
                                <option v-bind:value="formatDate('ddmmyy', option)" v-for="option in mondaysX30" v-text="formatDate('fulldate', option)"></option>
                              </select>
                            </div>
                          </td>
                          <td data-column="estimate">
                            <span class="subtotal"></span>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="4" class="text-right"><strong>Total Estimate</strong></td>
                          <td><span>$5,000</span></td>
                        </tr>
                      </tfoot>
                    </table>

                    <table class="sponsorship-table table" v-if="currentRecordedAdvertisingItem && currentRecordedAdvertisingItem.sponsorship">
                      <caption>
                        <h3>Sponsorship</h3>
                      </caption>
                      <tbody>
                        <tr>
                          <td>
                            <span class="checkbox-wrapper">
                              <input type="checkbox" id="sponsorship-news" name="sponsorship" value="News" v-model="currentRecordedAdvertisingItem.sponsorship.news.checked">
                              <label class="label" for="sponsorship-news">News</label>
                            </span>
                          </td>
                          <td>
                            <span class="checkbox-wrapper">
                              <input type="checkbox" id="sponsorship-sport" name="sponsorship" value="Sport" v-model="currentRecordedAdvertisingItem.sponsorship.sport.checked">
                              <label class="label" for="sponsorship-sport">Sport</label>
                            </span>
                          </td>
                          <td>
                            <span class="checkbox-wrapper">
                              <input type="checkbox" id="sponsorship-weather" name="sponsorship" value="Weather" v-model="currentRecordedAdvertisingItem.sponsorship.weather.checked">
                              <label class="label" for="sponsorship-weather">Weather</label>
                            </span>
                          </td>
                          <td>
                            <span class="checkbox-wrapper">
                              <input type="checkbox" id="sponsorship-traffic" name="sponsorship" value="Traffic" v-model="currentRecordedAdvertisingItem.sponsorship.traffic.checked">
                              <label class="label" for="sponsorship-traffic">Traffic</label>
                            </span>
                          </td>
                          <td>
                            <span class="checkbox-wrapper">
                              <input type="checkbox" id="sponsorship-finance" name="sponsorship" value="Finance" v-model="currentRecordedAdvertisingItem.sponsorship.finance.checked">
                              <label class="label" for="sponsorship-finance">Finance</label>
                            </span>
                          </td>
                          <td>
                            <span class="checkbox-wrapper">
                              <input type="checkbox" id="sponsorship-entertainment" name="sponsorship" value="Entertainment" v-model="currentRecordedAdvertisingItem.sponsorship.entertainment.checked">
                              <label class="label" for="sponsorship-entertainment">Entertainment</label>
                            </span>
                          </td>
                          <td>
                            <span class="checkbox-wrapper">
                              <input type="checkbox" id="sponsorship-quizzes" name="sponsorship" value="Quizzes" v-model="currentRecordedAdvertisingItem.sponsorship.quizzes.checked">
                              <label class="label" for="sponsorship-quizzes">Quizzes</label>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="checkbox-wrapper">
                              <input type="checkbox" id="sponsorship-other" name="sponsorship" value="Other" v-bind:checked="currentRecordedAdvertisingItem.sponsorship.other.checked" v-on:change="updatedSponsorshipOther">
                              <label class="label" for="sponsorship-other">Other</label>
                            </span>
                          </td>
                          <td colspan="6">
                            <span class="textarea-wrapper">
                              <textarea name="sponsorship-other" class="form-control" placeholder="What type of sponsorship are you looking for?" v-bind:disabled="currentRecordedAdvertisingItem.sponsorship.otherText.disabled" v-bind:value="currentRecordedAdvertisingItem.sponsorship.otherText.disabled.value"></textarea>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="button-wrapper text-right">
                    <button class="btn btn-default btn-lg" type="button" v-on:click="saveRecordedAdvertisingItem"><i class="fa fa-plus" aria-hidden="true"></i> Add Another Radio Station</button>
                    <button class="btn btn-primary btn-lg" type="submit">Submit Quote Request <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                  </div>

                  <!-- repeat blocks -->
                  <div v-if="savedRecordedAdvertisingItems.length" class="saved">
                    <div v-for="(savedRecordedAdvertisingItem, index) in savedRecordedAdvertisingItems">
                      <div class="summary">
                        <table class="recorded-advertising-table table" v-if="savedRecordedAdvertisingItem.sessions">
                          <caption>
                            <h3>Recorded Advertising</h3>
                          </caption>
                          <thead>
                            <tr>
                              <th data-column="session">Session</th>
                              <th data-column="day">
                                <span>Mon</span>
                                <span>Tue</span>
                                <span>Wed</span>
                                <span>Thur</span>
                                <span>Fri</span>
                                <span>Sat</span>
                                <span>Sun</span>
                              </th>
                              <th data-column="active-weeks">Active Weeks</th>
                              <th data-column="week-commencing">Week Commencing</th>
                              <th data-column="estimate">Estimate</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="(obj, key) in savedRecordedAdvertisingItem.sessions">
                              <td data-column="session">
                                <div class="session-wrapper">
                                  <strong v-text="obj.sessionInfo.title"></strong>
                                  <span v-text="obj.sessionInfo.timeSlot"></span>
                                </div>
                              </td>
                              <td data-column="day">
                                <div class="days-wrapper">
                                  <span class="number-wrapper" v-bind:data-label="abbreviateDay(dayKey)" v-for="(day, dayKey) in obj.week">
                                    <input type="number" min="0" class="form-control" v-model="day.qty">
                                  </span>
                                </div>
                              </td>
                              <td data-column="active-weeks">
                                <div class="active-weeks-wrapper">
                                  <input type="number" class="form-control" v-model="obj.activeWeeks">
                                </div>
                              </td>
                              <td data-column="week-commencing">
                                <div class="week-commencing">
                                  <select class="form-control" v-model="obj.weekCommencing">
                                    <option value="">Select a date</option>
                                    <option v-bind:value="formatDate('ddmmyy', option)" v-for="option in mondaysX30" v-text="formatDate('fulldate', option)"></option>
                                  </select>
                                </div>
                              </td>
                              <td data-column="estimate">
                                <span class="subtotal"></span>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="4" class="text-right">
                                <strong>Total Estimate</strong>
                              </td>
                              <td>
                                <span>$5,000</span>
                              </td>
                            </tr>
                          </tfoot>
                        </table>

                        <table class="sponsorship-table table" v-if="savedRecordedAdvertisingItem.sponsorship">
                          <caption>
                            <h3>Sponsorship</h3>
                          </caption>
                          <tbody>
                            <tr>
                              <td>
                                <span class="checkbox-wrapper">
                                  <input type="checkbox" v-bind:id="'sponsorship-news-' + index" name="sponsorship" value="News" v-model="savedRecordedAdvertisingItem.sponsorship.news.checked">
                                  <label class="label" v-bind:for="'sponsorship-news-' + index">News</label>
                                </span>
                              </td>
                              <td>
                                <span class="checkbox-wrapper">
                                  <input type="checkbox" v-bind:id="'sponsorship-sport-' + index" name="sponsorship" value="Sport" v-model="savedRecordedAdvertisingItem.sponsorship.sport.checked">
                                  <label class="label" v-bind:for="'sponsorship-sport-' + index">Sport</label>
                                </span>
                              </td>
                              <td>
                                <span class="checkbox-wrapper">
                                  <input type="checkbox" v-bind:id="'sponsorship-weather-' + index" name="sponsorship" value="Weather" v-model="savedRecordedAdvertisingItem.sponsorship.weather.checked">
                                  <label class="label" v-bind:for="'sponsorship-weather-' + index">Weather</label>
                                </span>
                              </td>
                              <td>
                                <span class="checkbox-wrapper">
                                  <input type="checkbox" v-bind:id="'sponsorship-traffic-' + index" name="sponsorship" value="Traffic" v-model="savedRecordedAdvertisingItem.sponsorship.traffic.checked">
                                  <label class="label" v-bind:for="'sponsorship-traffic-' + index">Traffic</label>
                                </span>
                              </td>
                              <td>
                                <span class="checkbox-wrapper">
                                  <input type="checkbox" v-bind:id="'sponsorship-finance-' + index" name="sponsorship" value="Finance" v-model="savedRecordedAdvertisingItem.sponsorship.finance.checked">
                                  <label class="label" v-bind:for="'sponsorship-finance-' + index">Finance</label>
                                </span>
                              </td>
                              <td>
                                <span class="checkbox-wrapper">
                                  <input type="checkbox" v-bind:id="'sponsorship-entertainment' + index" name="sponsorship" value="Entertainment" v-model="savedRecordedAdvertisingItem.sponsorship.entertainment.checked">
                                  <label class="label" v-bind:for="'sponsorship-entertainment' + index">Entertainment</label>
                                </span>
                              </td>
                              <td>
                                <span class="checkbox-wrapper">
                                  <input type="checkbox" v-bind:id="'sponsorship-quizzes-' + index" name="sponsorship" value="Quizzes" v-model="savedRecordedAdvertisingItem.sponsorship.quizzes.checked">
                                  <label class="label" v-bind:for="'sponsorship-quizzes-' + index">Quizzes</label>
                                </span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <span class="checkbox-wrapper">
                                  <input type="checkbox" v-bind:id="'sponsorship-other-' + index" name="sponsorship" value="Other" v-bind:checked="savedRecordedAdvertisingItem.sponsorship.other.checked"
                                    v-on:change="updatedSponsorshipOther">
                                  <label class="label" v-bind:for="'sponsorship-other-' + index">Other</label>
                                </span>
                              </td>
                              <td colspan="6">
                                <span class="textarea-wrapper">
                                  <textarea name="sponsorship-other" class="form-control" placeholder="What type of sponsorship are you looking for?" v-bind:disabled="savedRecordedAdvertisingItem.sponsorship.otherText.disabled"
                                    v-bind:value="savedRecordedAdvertisingItem.sponsorship.otherText.disabled.value"></textarea>
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                      <button type="button" class="btn btn-remove" v-bind:data-index="index" v-on:click="removeRecordedAdvertisingItem(index)">x</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </form>
      <!-- /content -->
    </div>
  </main>

  {{> ../partials/includes/footer.hbs }}

</body>
</html>