<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
  <section id="atf" class="full-page">
    <div id="site-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div id="site-logo">
              <a href="/"><img src="assets/img/logo-main.png" alt="My Radio Rates"></a>
            </div>
            <nav id="site-navigation">
              <div class="mobile-container">
                <button id="mobile-menu-trigger" type="button" class="btn btn-default"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">How It Works</a></li>
                  <li><a href="#">Contact</a></li>
                  <li class="active"><a href="#">Login</a></li>
                </ul>
              </div>
              <a href="#" class="btn btn-primary">Get Started</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <main id="page-hero">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="text-container">
              <p class="pre-header">One easy place to get all your</p>
              <h1>Radio Rates</h1>
              <p>Plan and book your radio campaign in 3 easy steps...</p>
              <p><a href="#" class="btn btn-block"><span class="circle">1</span><span>Select your state</span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
            </div>
          </div>
          <div class="map col-lg-6 col-12">
            <div class="map-container">
              <div id="map-australia"></div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>
  <section id="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <div class="tile-carousel owl-carousel owl-theme">
              <div class="item">
                <img src="images/logo-2ch.jpg" alt="">
              </div>
              <div class="item">
                <img src="images/logo-2sm.jpg" alt="">
              </div>
              <div class="item">
                <img src="images/logo-atn.jpg" alt="">
              </div>
              <div class="item">
                <img src="images/logo-2ue.jpg" alt="">
              </div>
              <div class="item">
                <img src="images/logo-3aw.jpg" alt="">
              </div>
              <div class="item">
                <img src="images/logo-audi.jpg" alt="">
              </div>
              <div class="item">
                <img src="images/logo-2ch.jpg" alt="">
              </div>
            </div>
            <h2>Now you have the power to get rates immediately</h2>
            <div class="container-fluid-lg">
              <div class="row">
                <div class="col-12">
                  <p>Let us do all the hard work in dealing with multiple sales teams in multiple markets with multiple networks.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="homepage-features" class=" text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="item">
            <p><img src="images/icn-conversation.png" alt="" class="img-responsive"></p>
            <p>Why deal with multiple sales teams when you need rates from different Networks or regional stations.</p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="item">
            <p><img src="images/icn-graphs.png" alt="" class="img-responsive"></p>
            <p>We all use the web to help with Health, Loans and Travel, so why not let My RadioRates help you.</p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="item">
            <p><img src="images/icn-currency.png" alt="" class="img-responsive"></p>
            <p>Let us save you money on your next Radio campaign.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="#" class="btn btn-primary btn-lg">View Example Report <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </section>
  <section id="homepage-process" class="text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h2>How 'My Radio Rates' work</h2>
          <ul>
            <li>
              <div class="item">
                <div class="img-container"><img src="images/icn-tablet.png" alt=""></div>
                <div class="text-container">
                  <h3>Choose Your Market</h3>
                  <p>Log in and select the radio market you want Radio Rates for.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img-container"><img src="images/icn-devices.png" alt=""></div>
                <div class="text-container">
                  <h3>Request a Quote</h3>
                  <p>Once you have the MyRadioRates quote, simply select if you want to book, or if you would like us to call and chat through your options.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img-container"><img src="images/icn-handshake.png" alt=""></div>
                <div class="text-container">
                  <h3>Finalise Booking</h3>
                  <p>Once you confirm you are happy to proceed with your radio booking, we double check the rates, (Some stations change rates daily) and confirm the booking back with you. Most times there are no changes.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="item">
                <div class="img-container"><img src="images/icn-microphone.png" alt=""></div>
                <div class="text-container">
                  <h3>Need a Radio Commercial?</h3>
                  <p>Simple, we have partnered with the best in Australia, <a href="#">RadioCommercials.com.au</a> Even if we don't place the radio media for you, let us make your radio commercial.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="homepage-actions">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="content-container">
            <h2 class="h1"><small>Get An</small> Estimate Rate</h2>
            <p><a href="#" class="btn btn-default btn-lg">Enquire Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="content-container">
            <h2 class="h1"><small>Get A</small> Full Price Breakdown</h2>
            <p><a href="#" class="btn btn-default btn-lg">Download a Report <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

   {{> ../partials/includes/footer.hbs }}
</body>
</html>