@import (reference) 'variables';

/* refs */
.italic {font-style:italic;}
.normal {font-style:normal;}
.extra-light {font-weight:200;}
.light {font-weight:300;}
.regular {font-weight:400;}
.semi-bold {font-weight:600;}
.bold {font-weight:700;}

.background-cover {background-position:50% 50%;background-size:cover;background-repeat:no-repeat;}
.block {display:block;}
.conceal {display:none;}
.flex {display:flex;}
.flex-auto {flex:1 1 auto;}
.flex-column {.flex;flex-direction:column;}
.flex-center {justify-content:center;}
.flex-end {justify-content:flex-end;}
.flex-inline {display:inline-flex;}
.flex-justify {justify-content:space-between;}
.flex-start {justify-content:flex-start;}
.flex-row {.flex;flex-direction:row;}
.flex-nowrap {flex-wrap:nowrap;}
.flex-wrap {flex-wrap:wrap;}
.font-nunito-sans {font-family:'Nunito Sans',sans-serif;}
.font-lato {font-family:'Lato',sans-serif;}
.inline-block {display:inline-block;}
.lowercase {text-transform:lowercase;}
.no-decoration {text-decoration:none;}
.pos-absolute {position:absolute;}
.pos-fixed {position:fixed;}
.pos-relative {position:relative;}
.pos-static {position:static;}
.res-img {display:inline-block;max-width:100%;height:auto;}
.text-center {text-align:center;}
.text-justify {text-align:justify;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.transition-all {transition:all .3s ease-out;}
.underline {text-decoration:underline;}
.uppercase {text-transform:uppercase;}

.list-clear {
  list-style:none;padding:0;margin:0;
  li {.block;margin:0;padding:0;}
}
.list-flex-column {.list-clear;.flex-column;}
.list-flex-row {.list-clear;.flex-row;}

/* overrides */
button, .btn {cursor:pointer;}
.btn {max-width:100%;white-space:normal;.uppercase;letter-spacing:.25rem;font-size:2rem;line-height:3rem;padding:1.6rem 3rem;border-radius:((3 + 2 * 1.6) / 2rem);width:23.5rem;}
.btn-primary, a.btn-primary {
  background:@lime-green;color:@white;border-color:@lime-green;
  &:active, &:focus, &:hover, &:not([disabled]):not(.disabled):active, &:not([disabled]):not(.disabled).active, .show > &.dropdown-toggle {
    background:@dark-lime-green;color:@white;border-color:@dark-lime-green;
  }
}
.btn-default, a.btn-default {color:@lime-green;border-color:@lime-green;background:transparent;}
.btn.btn-lg {
  font-size:2rem;line-height:(2.8 /2em);padding:2.6rem;width:30rem;max-width:100%;border-radius:(2.8rem + 2.6rem + 2.6rem);
}
a.btn:hover {.no-decoration;}

.form-control {font-size:2.2rem;padding:0.375rem 1.5rem;border-radius:0;}

/* base */
html {
  font-size:62.5%;background:@white;min-height:100vh;
  
  @media(max-width:@xl) {
    font-size:60%;
  }

  @media(max-width:@lg) {
    font-size:56.25%;
  }

  @media(max-width:@md) {
    font-size:53.125%;
  }

  @media(max-width:@sm) {
    font-size:50%;
  }

  @media(max-width:@xs) {
    font-size:48%;
  }
}
body {.font-nunito-sans;.flex-column;.flex-nowrap;background:@white;color:@black;min-height:100vh;}
a {
  color:@lime-green;word-wrap:break-word;
  &:active, &:focus, &:hover {.underline;color:@lime-green;}
}
.container-fluid-lg {max-width:850px;margin:0 auto;padding:0 15px;}

[data-background] {background-position:50% 50%;background-size:cover;background-repeat:no-repeat;}