<section id="site-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div id="site-logo">
          <a href="/">
            <img src="assets/img/logo-main.png" alt="My Radio Rates">
          </a>
        </div>
        <nav id="site-navigation">
          <div class="mobile-container">
            <button id="mobile-menu-trigger" type="button" class="btn btn-default">
              <i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
            <ul>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">How It Works</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              <li class="active">
                <a href="#">Login</a>
              </li>
            </ul>
          </div>
          <a href="#" class="btn btn-primary">Get Started</a>
        </nav>
      </div>
    </div>
  </div>
</section>